* {
    box-sizing: border-box;
}

.linkss lines {
    stroke: #999;
    stroke-opacity: 0.2;
}

.nodes circle {
    /*stroke: #fff;*/
    stroke-width: 1px;
}
.slidecontainer {
    position: absolute;
    top: 20px;
    left: 100px;
    background: #fff;
    padding: 5pt 10pt;
    box-shadow: #ccc 0 0 5px;
    border-radius: 5px;
    transform: scale(1.5);

}

.slider {
  -webkit-appearance: none;
 
  height: 8px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 30%; 
  background: rgba( 0, 0, 0 );
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background:;
  cursor: pointer;
}
.panel {
    background: #eee;
    width: 15%;
    position: fixed;
    right: 20px;
    top: 20px;
    height: calc(100% - 40px);
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
}

#searchBar {
  width: 100%; 
  font-size: 16px; 
  padding: 12px 8px;
  border: 1px solid #ddd; 
  margin-bottom: 12px; 
  border-radius: 8px;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: auto;					
    height: auto;					
    padding: 5px;				
    font: 12px sans-serif;		
    background: rgba( 0, 0, 0, 0.727 );
    color: whitesmoke;
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

#papers {
  font-size: 12px;
  overflow:hidden; 
  overflow-y:scroll;
  height: calc(100% - 60px);
}

#papers::-webkit-scrollbar-track
{
    
    background-color: rgba( 89, 89, 89, 0.05 );
}

#papers::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

#papers::-webkit-scrollbar-thumb
{
    background-color: #000000;

}

#papers > .list {
    padding: 0;
}

.map path {
    fill: #eee;
    stroke: #ccc;
    stroke-width: 0.3;
}